#define WLAN_SSID ""
#define WLAN_PASSWORD ""
#define MQTT_SERVER ""
#define MQTT_USER ""
#define MQTT_PASSWORD ""
#define MQTT_CO2_TOPIC ""
#define MQTT_TEMPERATURE_TOPIC ""
#define MQTT_HUMIDITY_TOPIC ""

